body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('weather.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .weather-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #077dfc;
    color: #fff;
    border: none;
    border-radius: 5px;
    
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  #footer{
  color: rgb(38, 38, 43);
  text-align: center;
  position: fixed;
  bottom: 0; 
  width: 100%; 
  padding: 10px 0; 
  }
  .error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff7e5f; 
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid #fff; 
  }
/*   .error-message {
    background-image: linear-gradient(to bottom right, #ff7e5f, #ff3f54); 
  } */
  
